.form {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
}

@media (max-width: 780px) {
    .form {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        flex-wrap: wrap;
    }
}

.form__input {
    padding: 5px;
    border: 2px solid #ddd;
    float: left;
    
}

.form__button {
    border: none;
    background-color: teal;
    color: white;
    padding: 10px;
}

.form__button:hover {
    cursor: pointer;
    color: white;
    background-color: hsl(180, 100%, 40%);
    padding: 10px;
}

.form__button:active {
    cursor: pointer;
    color: white;
    background-color: hsl(180, 100%, 55%);
    padding: 10px;
}

.list__items.hidden {
    display: none;
  }
  