.list__text--done {
    text-decoration: line-through;
}

.list {
    list-style: none;
    padding: 20px;
}

.list__button--done {
    border: none;
    background-color: green;
    height: 30px;
    width: 30px;
    color: white;
}

.list__button--remove {
    border: none;
    color: white;
    height: 30px;
    width: 30px;
    background-color: red;
}

.list__items {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid #eee;
    word-break: break-word;
}