.section {
    background-color: white;
    margin: 10px 0;
}

.section__header {
    background-color: white;
    border-bottom: 2px solid #eee;
    margin: 0;
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }  

.section__title {
    padding: 5px;
    margin: 0;
    font-weight: bold;
    font-size: 1.4em;
}

.section__buttons {
    justify-self: end;
  }