.section {
    background-color: white;
    margin: 10px 0;
}

.section__header {
    background-color: white;
    border-bottom: 2px solid #eee;
    margin: 0;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
}

.section__title {
    padding: 5px;
    margin: 0;
    font-weight: bold;
    font-size: 1.4em;
}

.section__buttons {
    border: none;
    background-color: white;
    color: hsl(180, 100%, 25%);
    display: grid;
    padding: 0 20px;
}

.section__buttons:hover {
    color: hsl(180, 100%, 35%);
}

.section__buttons:active {
    color: hsl(180, 100%, 45%);
}

@media (max-width: 780px) {
    .section__header {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 10px;
    }

    .section__buttons {
        padding: 10px;
    }
}

.button {
    border: none;
    background-color: transparent;
    color: hsl(180, 100%, 25%);
    padding: 10;
}

.button:hover {
    color: hsl(180, 100%, 35%);
    cursor: pointer;
}

.button:active {
    color: hsl(180, 100%, 45%);
}